$desktopWidth            : 980px;
$tabletWidth             : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;


$defaultPadding          : 16px;
$maxWidth                : 1006px + ($defaultPadding * 2);
