$mainFont                : 'Museo-Sans', sans-serif;

// Size
$mainFontColor           : $black;
$mainFontSize            : 1rem;
$mainFontWeight          : 400;
$mainLineHeight          : 1.6;
