@font-face {
    font-family: 'Becker';
    src: url("../fonts/Becker-Regular.woff2") format("woff2"), url("../fonts/Becker-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matrix';
    src: url("../fonts/Matrix.woff2") format("woff2"), url("../fonts/Matrix.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/ProximaNova-Reg.woff2") format("woff2"), url("../fonts/ProximaNova-Reg.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/ProximaNova-Xbold.woff2") format("woff2"), url("../fonts/ProximaNova-Xbold.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
