@import './libs/libs.scss';
@import './vars/vars.scss';
@import './mixins/mixins.scss';
@import './default-styles/default-styles.scss';
@import './fonts/fonts';
// для семантической разметки страницы
// закомментировать после окончания
@import './libs/outline';
