.footer-company
    img(src=path + '/img/logo.png' width="197" height="136" , alt="Логотип").logo
    .footer-company__privacy
        p © 2015-2002 ООО "Название компании".
        p Все права защищены.
        a(href="#" target="_blank" rel="noopener noreferrer") Политика конфиденциальности
