.footer-contacts
    p.footer-contacts__info
        span ПН-ПТ: 9:00-18:00, телефон:
        a(href="tel:+7777777777") 7777777777
    address.footer-contacts__address
        | Адрес: г. Москва
        br
        | ул. Уличная 5
    a(href="mailto:google.com").footer-contacts__email some@gmail.com
    p.footer-contacts__requisites
        | Реквизиты: ООО "Название"
        br
        | ИНН: 7777777
        br
        | ОГРН: 1111111
