footer.page-footer
    .container
        include ./components/footer-company/footer-company
        include ./components/footer-navigation/footer-navigation
        include ./components/footer-contacts/footer-contacts
        include ./components/footer-payments/footer-payments
