nav.site-navigation
    .container
        button(type="button").site-navigation__toggle
            | Открыть/закрыть меню
        ul.site-navigation__list 
            li.site-navigation__item 
                a(href="#" target="_blank" rel="noopener noreferrer" aria-label="social 3" ).site-navigation__link
            li.site-navigation__item 
                a(href="#" target="_blank" rel="noopener noreferrer" aria-label="social 3" ).site-navigation__link
            li.site-navigation__item 
                a(href="#" target="_blank" rel="noopener noreferrer" aria-label="social 3" ).site-navigation__link
            li.site-navigation__item 
                a(href="#" target="_blank" rel="noopener noreferrer" aria-label="social 3" ).site-navigation__link
        .site-navigation__user
            a(href="#" target="_blank" rel="noopener noreferrer") Избранное
            a(href="#" target="_blank" rel="noopener noreferrer") Сравнение
