block variables

- var myPath = htmlWebpackPlugin.options.src

doctype html
html(lang='ru')
    include ./components/head/main-head

    body(class= pageClass)
        include ./components/header/main-header

        main.page-main
            block content

        include ./components/footer/main-footer
